body{
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 20px;
}

.container{
    max-width: 600px;
    margin: auto;
    background: rgb(185, 184, 184);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-shadow: #333 2px 2px 2px 2px;
}

h1,h2{
    text-align: center;
    color: #333;
}

.homework-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.homework-form input{
    padding: 10px;
    border: 1px  solid #ccc;
    border-radius: 5px;
}

.homework-form button{
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.homework-form button:hover{
    background: #218838;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    background: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

li a {
    float: right;
    text-decoration: none;
    color: #007bff;
}

li a:hover {
    text-decoration: underline;
}